.container-fluid{
  background-image: url("../public/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
header{
  text-shadow: 2px 2px 2px white;
  padding-top: 30px;
}
.bg-shade{
  background-color: rgba(0, 0, 0, 0.252);
  min-height: 100vh;
}
